**/.mypy*
**/__pycache__
**/venv
**/*.egg-info/
**/.eggs/
**/build/
**/dist/
**/_autosummary/

**/*_pb2.py
**/*_pb2_grpc.py

**/.vscode
**/.DS_Store

**/*.crt
**/*.crl
**/*.csr
**/*.key

*.png

# Rust
**/target
**/Cargo.lock

# vim swap files
*.sw?

*.whl
*.so
