tag = false
push = false
pre-release-commit-message = "release {{version}} of {{crate_name}}"
post-release-commit-message = "starting {{next_version}} of {{crate_name}}"
pre-release-replacements = [
    {file="../pymoose/setup.py", search="version=\"[a-z0-9\\.-]+\"", replace="version=\"{{version}}\"", exactly=1},
]
post-release-replacements = [
    {file="../pymoose/setup.py", search="version=\"[0-9\\.]+\"", replace="version=\"{{next_version}}\"", exactly=1},
]

