absl-py==0.11.0
black==19.10b0
flake8-black==0.1.1
flake8-isort==4.0.0
flake8==3.8.3
isort==5.4.2
msgpack==1.0.2
numpy==1.21.2
onnx~=1.10.0
pip~=21.2
pytest==7.0.1
setuptools-rust~=0.12.1
wheel~=0.36.2
